<div id="<%= dom_id idea %>">
  <p>
    <strong>Retro:</strong>
    <%= idea.retro_id %>
  </p>

  <p>
    <strong>Topic:</strong>
    <%= idea.topic %>
  </p>

  <p>
    <strong>Template type:</strong>
    <%= idea.template_type %>
  </p>

</div>
