<div id="<%= dom_id retro %>">
  <p>
    <strong>Name:</strong>
    <%= retro.name %>
  </p>

  <p>
    <strong>Context:</strong>
    <%= retro.context %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= retro.team %>
  </p>

</div>
